cover_db
Makefile
blib
pm_to_blib
MANIFEST
Makefile.old
META.yml
nytprof.out
MANIFEST.bak
*.sw[po]
/Plack-App-Directory-Xslate-*
/.build
/_build_params
/Build
!Build/
!META.json
!LICENSE
_build
MYMETA.json
MYMETA.yml